@import "reset";
@import "bootstrap";
@import "fonts";

$white: #FEFEFE;
$gray: #cccccc;
$success: #609F69;
$loogame: #60669F;
$heroFilter: #303030;

$textCol: #707070;
$headCol: #464646;

$footer: #F3F3F3;

$headerHeight: 84px;
$textShadow: 2px 3px transparentize(#000000, .3);

$headerFont: 'Montserrat', sans-serif;

$headerSizeXS: 24px;
$headerSizeSD: 32px;
$headerSizeMD: 38px;
$headerSizeLD: 50px;

$parafSize: 18px;

$headerMargXS: 30px;
$headerMargSD: 45px;
$headerMargMD: 52px;
$headerMargLD: 60px;

$btnPaddingXS: 15px 50px;
$btnPaddingSD: 15px 75px;
$btnPaddingMD: 20px 100px;
$btnPaddingLD: 20px 100px;

$defaultPadding: 80px;


body{
  margin-top: $headerHeight;
}

// ------- Header -------
.header{
  height: $headerHeight;
  display: flex;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  &__logo{
    height: 100%;
    .logo{
      display: block;
      &__target{
        display: block;
          width: 100%;
          max-width: 55px;
          height: auto;
      }
    }
  }
  &__menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: initial;
    #toggle-nav{
      width: 30px;
      height: 30px;
      color: $headCol;
      cursor: pointer;
      svg{
        pointer-events: none;
      }
    }
    .menu{
      border-top: 1px solid $gray;
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      min-height: calc(100vh - #{$headerHeight});
      display: flex;
      flex-direction: column;
      background-color: $white;
      list-style: none;
      margin: 0;
      transition: .5s ease;
      &--active{
        right: 0%;
      }
      &__list{
        text-align: center;
        width: 100%;
        &:last-child{
          margin-right: 0;
        }
      }
      &__link{
        color: $headCol;
        border-bottom: 1px solid $gray;
        text-decoration: none;
        padding-bottom: 5px;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        position: relative;
        display: block;
        padding: 20px;
      }
    }
  }
}

// ------- Hero -------
.hero{
  height: calc(100vh - #{$headerHeight});
  width: 100%;
  position: relative;
  background-color: $heroFilter;
  > .container{
    height: 100%;
    & > .row{
      height: 100%;
    }
  }
  &--sub{
    height: 250px;
  }
  .hero-content{
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &__title,
    &__text{
      position: relative;
      z-index: 1;
      text-shadow: $textShadow;
      text-align: center;
    }
    &__title{
      font-family: $headerFont;
      font-size: $headerSizeXS;
      font-weight: 800;
    }
    &__text{
      font-size: $parafSize;
    }
  }
  &__img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: opacity(.3);
    pointer-events: none;
  }
}

// ------- Main -------
.content{
  .main{
    padding-top: $defaultPadding;
    padding-bottom: $defaultPadding;
    &__title{
      font-size: $headerSizeXS;
      font-family: $headerFont;
      font-weight: 800;
      color: $headCol;
      margin-bottom: $headerMargXS;
    }
    &__content{
      line-height: 30px;
      font-size: $parafSize;
      color: $headCol;
      > * {
        margin-bottom: 40px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .btn{
      display: block;
      text-align: center;
      margin-top: 80px;
      pointer-events: none;
      &:focus{
        outline: none;
        box-shadow: none;
      }
      &__text{
        color: $white;
        background-color: $textCol;
        padding: $btnPaddingXS;
        border-radius: 26px;
        font-size: $parafSize;
        font-weight: normal;
        pointer-events: initial;
        &:hover{
          text-decoration: none;
          background-color: lighten($textCol, 10);
        }
      }
      &--loogame{
        .btn__text{
          background-color: $loogame;
          &:hover{
            background-color: lighten($loogame, 10);
          }
        }
      }
      &--success{
        .btn__text{
          background-color: $success;
          &:hover{
            background-color: lighten($success, 10);
          }
        }
      }
    }
  }
}
// ------- Footer -------
.footer{
  background-color: $footer;
  padding-top: $defaultPadding;
  padding-bottom: $defaultPadding;
  .info{
    color: $textCol;
    list-style: none;
    font-size: 26px;
    font-weight: bold;
    font-family: $headerFont;
    &__list{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .logo{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    &__target{
      width: auto;
      max-height: 200px;
      object-fit: contain;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media(min-width: 576px){
  .hero{
    .hero-content{
      &__title{
        font-size: $headerSizeSD;
      }
    }
  }
  .content{
    .main{
      &__title{
        font-size: $headerSizeSD;
        margin-bottom: $headerMargSD
      }
      .btn{
        &__text{
          padding: $btnPaddingSD;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 768px) {
  .hero{
    .hero-content{
      &__title{
        font-size: $headerSizeMD;
      }
    }
  }
  .content{
    .main{
      &__title{
        font-size: $headerSizeMD;
        margin-bottom: $headerMargMD
      }
      .btn{
        &__text{
          padding: $btnPaddingMD;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media(min-width: 992px){
  .header{
    &__menu{
      #toggle-nav{
        display: none;
      }
      .menu{
        position: initial;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        min-height: auto;
        border-top: 0;
        &--active{
          right: 0%;
        }
        &__list{
          margin-right: 50px;
          width: auto;
          &:last-child{
            margin-right: 0;
          }
        }
        &__link{
          border-bottom: 0;
          font-size: 18px;
          font-weight: normal;
          padding: 0 0 5px 0;
          &::after{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 2px;
            background-color: $textCol;
            transition: .5s cubic-bezier(0.82,-0.46, 0.43, 1.37);
          }
          &:hover{
            color: darken($textCol, 25%);
            &::after{
              width: 100%;
            }
          }
        }
      }
    }
  }
  .hero{
    height: 525px;
    .hero-content{
      &__title{
        font-size: $headerSizeLD;
      }
    }
  }
  .content{
    .main{
      &__title{
        font-size: $headerSizeLD;
        margin-bottom: $headerMargLD
      }
      .btn{
        &__text{
          padding: $btnPaddingLD;
        }
      }
    }
  }
  .footer{
    .info{
      font-size: 30px;
      &__list{
        margin-bottom: 30px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
