@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-12 main">
                @{ Html.RenderPartial("_register"); }

                <p class="text-muted text-center mt-5">
                    Har du allerede en bruger?
                    <a href="/log-ind">Log Ind</a>
                </p>
            </div>
        </div>
    </div>