@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="container">
    <div class="row">
        <section class="col-xs-12 hero-content">

            <h1 class="hero-content__title">@Model.Value("overskrift")</h1>

            @{ 
                if(Model.Value("underskrift") != String.Empty){
                    @: <p class="hero-content__text">@Model.Value("underskrift")</p>
                }
            }
            

            @{
                var backgroundImg = Model.Value<IPublishedContent>("baggrundsbillede");
                if (backgroundImg != null){
                    <img class="hero__img" src="@backgroundImg.Url" alt="@backgroundImg.Value("alt")" />
                }
            }
        </section>
    </div>
</div>

